{% extends 'layout.html.twig' %}

{% block title %}Libro {% endblock %}

{% block main %}
<main>
    <h2>Ficha de libro:</h2>

    {% if libros %}
            <ul>
                <li><strong>{{ libros.titulo }}</strong></li>
                <li> {{ libros.autor }}</li>
                <li> {{ libros.paginas }}</li>
            </ul>
    {% else %}
        <p>Libro no encontrado</p>
    {% endif %}

</main>
{% endblock %}
