{% extends 'base.html.twig' %}

{% block title %}Libros{% endblock %}
{% block body %}
    <h1 id= 'titulo'>Biblioteca particular</h1>
    <nav id='nav'> 
        <ol>
            <li><a href="{{ path('inicio') }}">Inicio</a></li>
            <li><a href="{{ path('lista_libros') }}"> Ver libros</a></li>

        </ol>
    </nav>

    <h2>¡Bienvenido! Hoy es 
        <?php 

        $hoy = date("m/d/y"); 
        echo $hoy

        ?>
    
    </h2>
    <footer>
        <p id=">Desarrollo Web en Entorno Servidor</p>
    </footer>
{% endblock %}