{% extends 'base.html.twig' %}

{% block title %} Libros {% endblock %}

{% block body %}

    {% block header %}
        <h1> Biblioteca particular </h1>
    {% endblock %}

    {% block nav %}    
        <nav id='nav'> 
            <ul>
                <li><a href="{{ path('inicio') }}"> Inicio</a></li>
                <li><a href="{{ path('lista_libros') }}"> Ver libros</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block main %}    
        <main>
            <h3>¡Bienvenido! Hoy es {{ "now"| date("m/d/Y") }} </h3>
        </main>
        
    {% endblock %}

    {% block footer %}
        <footer>
            <hr>
            <p id="final">- Desarrollo Web en Entorno Servidor - </p>
        </footer>
    {% endblock %}

{% endblock %}